@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --clearSky: #ffb703;
  --fewClouds: #0077b6;
  --scatteredClouds: #4ea8de;
  --brokenClouds: #d9d9d9;
  --overcastClouds: #8d99ae;
  --showerRain: #82c0cc;
  --rain: #184e77;
  --thunderstorm: #a471d4;
  --snow: #f0f0f0;
  --mist: #889c96;
  --night: #1f2d3d;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: 'Open Sans', sans-serif, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
}

.head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
}

.search-container {
  display: flex;
  width: 80vw;
  height: 5vh;
}
.search-input {
  height: 100%;
  outline: none;
  border: none;
}

.search-button {
  height: 100%;
  width: 5vw;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
}

.button-wrapper {
  display: flex;
  width: 20vw;
  height: 5vh;
  justify-content: flex-end;
}

.button-wrapper > button {
  height: 5vh;
  width: 5vw;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
}

.button-wrapper > .unit-button {
  border-right: solid 1px black;
}

.current-weather-container {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  padding: 2vh 0;
  min-height: 46vh;
  text-shadow: 0 0 1px #00000080;
}

.city-container > h3 {
  margin: 0;
  padding: 0;
  position: relative;
  top: 1.5rem;
}

.city-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.weather-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon {
  animation: pulse 2s linear infinite;
  position: relative;
  right: 13rem;
  bottom: 2rem;
}

.time {
  position: relative;
  top: 4rem;
  right: 8rem;
  font-size: 3rem;
  text-shadow: 0 0 1px #00000080;
}

.temp {
  font-size: 2rem;
  position: relative;
  right: 2rem;
  padding: 0.5rem 0 0.5rem 0;
  text-shadow: 0 0 1px #00000080;
}

@-webkit-keyframes "pulse" {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.forecastBtn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  background-color: #e05d5d;
  border: none;
  transition: all 200ms linear;
  position: absolute;
  bottom: 0;
}

.forecastBtn-container.expand {
  transition: all 200ms linear;
}

.forecast-button {
  background: none;
  border: none;
  text-shadow: 0 0 2px #00000080;
}

.forecast-container {
  display: flex;
  width: 100vw;
  transition: all 100ms linear;
  height: 40vh;
}

.forecastBtn-container.expand > .forecast-button {
  position: relative;
  top: 0.5rem;
}

.forecastBtn-container.expand ~ .forecast-container {
  background-color: hsla(0, 0%, 100%, 0.2);
  height: 42vh;
  padding: 0 0.5rem;
}

.day-container {
  display: flex;
  height: 100%;
  width: 100%;
  text-align: center;
  justify-self: center;
  align-self: center;
  text-shadow: 0 0 2px #00000080;
  line-height: 1.5rem;
}

.status {
  display: flex;
  align-items: center;
  min-width: 1vw;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  line-height: 1.5rem;
  margin: 0 1rem;
}

.day {
  font-weight: bolder;
  text-align: center;
  margin-bottom: 1rem;
}

.forecast-details {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 2rem;
  margin: 0 auto;
  justify-content: flex-start;
}

.move {
  position: relative;
  top: 30%;
  transform: translateY(-30%);
  transition: all 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  line-height: 1.5rem;
  font-weight: bold;
}

.expand {
  height: 7vh;
  transition: all 100ms linear;
  position: static;
}

.expand-icon {
  transition: all 250ms linear;
}

.forecastBtn-container.expand > .expand-icon {
  transform: rotate(180deg) scale(200%);
  transition: all 250ms linear;
  position: relative;
  left: 5rem;
  bottom: 0.5rem;
}

#overlay {
  display: flex;
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: none;
  transition: 200ms ease-in-out;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  transition: all 100ms linear;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
  transition: all 100ms linear;
}

#modalOverlay {
  display: flex;
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: none;
  transition: 200ms ease-in-out;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  transition: all 100ms linear;
}

#modalOverlay.active {
  opacity: 1;
  pointer-events: all;
  transition: all 100ms linear;
}

.modal-wrapper {
  padding: 25px 0 0 25px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border: solid 2px black;
  z-index: 10;
  background-color: white;
  width: 20vw;
  max-width: 80%;
  transition: 200ms ease-in-out;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  display: flex;
  padding: 10px 15px;
  justify-content: space-between;
  align-items: center;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.5rem;
}

.modal-body {
  padding: 10px 15px;
  text-align: center;
}

.clear-sky {
  background-color: var(--clearSky);
  transition: background-color 1000ms linear;
}

.few-clouds {
  background-color: var(--fewClouds);
  transition: background-color 1000ms linear;
}

.scattered-clouds {
  background-color: var(--scatteredClouds);
  transition: background-color 1000ms linear;
}

.broken-clouds {
  background-color: var(--brokenClouds);
  transition: background-color 1000ms linear;
}

.overcast-clouds {
  background-color: var(--overcastClouds);
  transition: background-color 1000ms linear;
}

.shower-rain,
.light-intensity-drizzle,
.drizzle,
.heavy-intensity-drizzle,
.light-intensity-drizzle-rain,
.drizzle-rain,
.heavy-intensity-drizzle-rain,
.shower-rain-and-drizzle,
.heavy-shower-rain-and-drizzle,
.shower-drizzle {
  background-color: var(--showerRain);
  transition: background-color 1000ms linear;
}

.rain,
.light-rain,
.moderate-rain,
.heavy-intensity-rain,
.very-heavy-rain,
.extreme-rain,
.freezing-rain,
.light-intensity-shower-rain,
.shower-rain,
.eavy-intensity-shower-rain,
.ragged-shower-rain {
  background-color: var(--rain);
  transition: background-color 1000ms linear;
}

.thunderstorm,
.thunderstorm-with-light-rain,
.thunderstorm-with-rain,
.thunderstorm-with-heavy-rain,
.light-thunderstorm,
.heavy-thunderstorm,
.ragged-thunderstorm,
.thunderstorm-with-light-drizzle,
.thunderstorm-with-drizzle,
.thunderstorm-with-heavy-drizzle {
  background-color: var(--thunderstorm);
  transition: background-color 1000ms linear;
}

.snow,
.light-snow,
.heavy-snow,
.sleet,
.light-shower-sleet,
.shower-sleet,
.light-rain-and-snow,
.rain-and-snow,
.light-shower-snow,
.shower-snow,
.heavy-shower-snow {
  background-color: var(--snow);
  transition: background-color 1000ms linear;
}

.mist,
.smoke,
.haze,
.fog,
.sand,
.dust,
.volcanic-ash,
.squalls,
.tornado {
  background-color: var(--mist);
  transition: background-color 1000ms linear;
}

.night {
  background-color: var(--night);
  transition: background-color 1000ms linear;
}

.dark {
  filter: invert(100%);
}

@media only screen and (max-width: 600px) {
  form {
    display: flex;
  }

  h1 {
    font-size: 1.5rem;
    /* margin: 1rem 0 0.5rem 0; */
  }

  h3 {
    font-size: 1rem;
    margin: 0;
  }

  .head-container > * {
    justify-content: flex-start;
    flex: 1;
  }

  .search-button {
    width: auto;
    border-right: solid 1px black;
  }

  .unit-button {
    border-right: solid 1px black;
  }

  .button-wrapper > button {
    width: 20vw;
  }

  .current-weather-container {
    margin-top: 1.5rem;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
  }

  .current-weather-container.move > .city-container {
    gap: none;
  }

  .current-weather-container.move > .city-container > h1 {
    position: relative;
    bottom: 5rem;
    left: 5rem;
  }

  .current-weather-container > .city-container > h1 {
    position: relative;
    left: 3rem;
    bottom: 1rem;
  }

  .current-weather-container.move > .city-container > h3 {
    position: relative;
    top: -2.5rem;
  }

  .current-weather-container.move > .city-container > .time {
    top: 1rem;
    left: 2rem;
    font-size: 2rem;
  }

  .current-weather-container.move > .city-container > .icon {
    right: 5rem;
    bottom: 3rem;
  }

  .time {
    font-size: 2rem;
    left: 3rem;
    top: 2rem;
  }

  .icon {
    right: 4rem;
    bottom: 2rem;
  }

  img {
    height: 80px;
  }

  .forecastBtn-container.expand {
    line-height: 0.8rem;
    padding: 2rem 0;
  }

  .forecastBtn-container.expand ~ .forecast-container {
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: scroll;
  }

  .day-container {
    min-width: 40vw;
    justify-content: unset;
  }

  .forecast-details {
    padding: 2rem 1rem;
  }

  .status {
    margin: 0;
  }

  .modal {
    width: 80vw;
  }
}
