:root {
  --clearSky: #eeca00;
  --fewClouds: #39acee;
  --scatteredClouds: #8fb4d1;
  --brokenClouds: #c0d1eb;
  --showerRain: #466bb1;
  --rain: #334f8b;

  --thunderstorm: #a471d4;
  --snow: #36332a;
  --mist: #616d69;
  --night: #1f2d3d;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  width: 100vw;
  background-color: aquamarine;
}
.current-weather-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.forecast-button {
  width: 100%;
  height: 2.5rem;
  margin: 25px 0;
  background-color: tomato;
  border: none;
}

.forecast-container {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

@media all and (max-width: 500px) {
  .forecast-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
  }
}
