@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --clearSky: #ffb703;
  --fewClouds: #0077b6;
  --scatteredClouds: #4ea8de;
  --brokenClouds: #d9d9d9;
  --overcastClouds: #8d99ae;
  --showerRain: #82c0cc;
  --rain: #184e77;
  --thunderstorm: #a471d4;
  --snow: #f0f0f0;
  --mist: #889c96;
  --night: #1f2d3d;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;

  font-family: 'Open Sans', sans-serif, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
}

.head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
}

.search-container {
  display: flex;
  height: 5vh;
}
.search-input {
  height: 100%;
  outline: none;
  border: none;
}

.search-button,
.unit-button {
  height: 100%;
  width: 4rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
}

.current-weather-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 2vh 0;
  height: 46vh;
  text-shadow: 0 0 1px #00000080;
}

.current-weather-container > h3 {
  margin: 0;
  padding: 0;
}

.forecastBtn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  background-color: tomato;
  border: none;
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: absolute;
  bottom: 0;
}

.forecast-button {
  background: none;
  border: none;
}

.forecast-container {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  transition: all 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  height: 40vh;
}

.forecastBtn-container.expand ~ .forecast-container {
  background-color: rgba(0, 0, 0, 0.2);
  height: 42vh;
  justify-content: center;
  align-items: center;
}

.day-container {
  display: flex;
  line-height: 1.5rem;
  height: 25vh;
}

.status {
  height: 120%;
  width: 1rem;
  margin-right: 1rem;
  position: relative;
  bottom: 3rem;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  line-height: 1.5rem;
  margin: 0 1rem;
}

.day {
  font-weight: bolder;
  text-align: center;
}

.forecast-details {
  text-align: center;
  margin-right: 1rem;
}

.move {
  position: relative;
  top: 30%;
  transform: translateY(-30%);
  transition: all 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  line-height: 1.5rem;
  font-weight: bold;
}

.expand {
  height: 7vh;
  transition: all 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: static;
}

.expand-icon {
  transition: all 250ms linear;
}

.forecastBtn-container.expand > .expand-icon {
  transform: rotate(180deg) scale(200%);
  transition: all 250ms linear;
  position: relative;
  left: 8rem;
}
.icon {
  opacity: 0.75;
}

.clear-sky {
  background-color: var(--clearSky);
  transition: background-color 1000ms linear;
}

.few-clouds {
  background-color: var(--fewClouds);
  transition: background-color 1000ms linear;
}

.scattered-clouds {
  background-color: var(--scatteredClouds);
  transition: background-color 1000ms linear;
}

.broken-clouds {
  background-color: var(--brokenClouds);
  transition: background-color 1000ms linear;
}

.overcast-clouds {
  background-color: var(--overcastClouds);
  transition: background-color 1000ms linear;
}

.shower-rain,
.light-intensity-drizzle,
.drizzle,
.heavy-intensity-drizzle,
.light-intensity-drizzle-rain,
.drizzle-rain,
.heavy-intensity-drizzle-rain,
.shower-rain-and-drizzle,
.heavy-shower-rain-and-drizzle,
.shower-drizzle {
  background-color: var(--showerRain);
  transition: background-color 1000ms linear;
}

.rain,
.light-rain,
.moderate-rain,
.heavy-intensity-rain,
.very-heavy-rain,
.extreme-rain,
.freezing-rain,
.light-intensity-shower-rain,
.shower-rain,
.eavy-intensity-shower-rain,
.ragged-shower-rain {
  background-color: var(--rain);
  transition: background-color 1000ms linear;
}

.thunderstorm,
.thunderstorm-with-light-rain,
.thunderstorm-with-rain,
.thunderstorm-with-heavy-rain,
.light-thunderstorm,
.heavy-thunderstorm,
.ragged-thunderstorm,
.thunderstorm-with-light-drizzle,
.thunderstorm-with-drizzle,
.thunderstorm-with-heavy-drizzle {
  background-color: var(--thunderstorm);
  transition: background-color 1000ms linear;
}

.snow,
.light-snow,
.heavy-snow,
.sleet,
.light-shower-sleet,
.shower-sleet,
.light-rain-and-snow,
.rain-and-snow,
.light-shower-snow,
.shower-snow,
.heavy-shower-snow {
  background-color: var(--snow);
  transition: background-color 1000ms linear;
}

.mist,
.smoke,
.haze,
.fog,
.sand,
.dust,
.volcanic-ash,
.squalls,
.tornado {
  background-color: var(--mist);
  transition: background-color 1000ms linear;
}

.night {
}

@media only screen and (max-width: 600px) {
  form {
    display: flex;
  }

  h1 {
    font-size: 1.5rem;
    margin: 1rem 0 0.5rem 0;
  }

  h3 {
    font-size: 1rem;
    margin: 0;
  }

  .head-container > * {
    flex: 1;
  }

  .search-button {
    width: 5rem;
    border-right: solid 1px black;
  }

  .current-weather-container {
    justify-content: flex-start;
    padding: 0 0 1rem 0;
  }

  img {
    height: 80px;
  }

  .forecastBtn-container.expand {
    line-height: 0.8rem;
  }

  .forecastBtn-container.expand ~ .forecast-container {
    background-color: rgba(0, 0, 0, 0.2);
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: scroll;
  }

  .day-container {
    margin: 1rem 0;
  }

  .status {
    position: static;
  }
}
