:root {
  --clearSky: #f9c74f;
  --fewClouds: #a9d6e5;
  --scatteredClouds: #89c2d9;
  --brokenClouds: #61a5c2;
  --overcastClouds: #2c7da0;
  --showerRain: #2a6f97;
  --rain: #014f86;

  --thunderstorm: #a471d4;
  --snow: #f0f0f0;
  --mist: #889c96;
  --night: #1f2d3d;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
}

.search-container {
  display: flex;
  height: 5vh;
}
.search-input {
  height: 100%;
  outline: none;
  border: none;
}

.search-button,
.unit-button {
  height: 100%;
  width: 4rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
}

.current-weather-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.forecastBtn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  margin: 25px 0;
  background-color: tomato;
  border: none;
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* .forecastBtn-container.expand {
  justify-content: space-evenly;
} */

.forecast-button {
  background: none;
  border: none;
}

.forecast-container {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  transition: all 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.expand {
  height: 5rem;
  transition: all 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.expand-icon {
  transition: all 250ms linear;
}

.forecastBtn-container.expand > .expand-icon {
  transform: rotate(180deg) scale(200%);
  transition: all 250ms linear;
  position: relative;
  left: 8rem;
}
.icon {
  opacity: 0.75;
}

.clear-sky {
  background-color: var(--clearSky);
  transition: background-color 1000ms linear;
}

.few-clouds {
  background-color: var(--fewClouds);
  transition: background-color 1000ms linear;
}

.scattered-clouds {
  background-color: var(--scatteredClouds);
  transition: background-color 1000ms linear;
}

.broken-clouds {
  background-color: var(--brokenClouds);
  transition: background-color 1000ms linear;
}

.overcast-clouds {
  background-color: var(--overcastClouds);
  transition: background-color 1000ms linear;
}

.shower-rain {
  background-color: var(--showerRain);
  transition: background-color 1000ms linear;
}

.rain {
  background-color: var(--rain);
  transition: background-color 1000ms linear;
}

.thunderstorm {
  background-color: var(--thunderstorm);
  transition: background-color 1000ms linear;
}

.snow {
  background-color: var(--snow);
  transition: background-color 1000ms linear;
}

.mist {
  background-color: var(--mist);
  transition: background-color 1000ms linear;
}

.night {
}

@media all and (max-width: 500px) {
  form {
    display: flex;
  }

  .head-container > * {
    flex: 1;
  }

  .search-button {
    width: 5rem;
    border-right: solid 1px black;
  }

  .forecast-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
  }
}
